Telethon
yt-dlp
pyTelegramBotAPI
heroku3
validators==0.22.0
psycopg2-binary
aiohttp
googletrans==4.0.0rc1
pytz
lxml_html_clean
youtube-search-python
sqlalchemy-json
requests
SQLAlchemy==1.4.52
Pillow
fonttools
lyricsgenius<3.0
